* {
    margin: 0;
    padding: 0;
}

body {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.box {
    height: 100vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box:nth-child(1) {
    background-color: rgb(150, 168, 250);
}

.box:nth-child(2) {
    background-color: rgb(77, 122, 88);
}

.box:nth-child(3) {
    background-color: rgb(102, 102, 102);
}

.img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img img {
    width: 400px;
    height: 600px;
}



h1 {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 500px;
    line-height: 400px;
}

h1:nth-child(1)::selection {
    background-color: rgba(0, 5, 2, 0.411);
    color: white;
}

.n h1::selection {
    background-color: rgba(0, 5, 2, 0.411);
    color: white;
}

.s h1::selection {
    background-color: rgba(0, 5, 2, 0.411);
    color: white;
}